[2019-02-07 12:14] jvines opened #1 "Error when plotting phase folded RVs"
Hi,

I got the following error when Juliet was going through the plot of phase folded RVs!

/Users/jvines/anaconda2/lib/python2.7/site-packages/numpy/core/fromnumeric.py:2920: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/jvines/anaconda2/lib/python2.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret

[2019-02-07 17:29] nespinoza commented on #1
Hi @jvines! Thanks for catching this --- this was just a plotting bug, which has now been resolved in [commit 6ebb2df4d5bdea87ad22d238a73f51f01c1e4454](https://github.com/nespinoza/juliet/commit/6ebb2df4d5bdea87ad22d238a73f51f01c1e4454). I will thus proceed to close this issue as resolved!

Thanks for using `juliet`!

[2019-02-07 17:29] #1 closed

[2019-02-07 18:52] jvines opened #2 "Problem when instrument names have underscores?"
Hi,

I was running Juliet for a joint photometry-rv analysis and the program began spanning the following error message to my terminal:

For context, I have data from SAAO in the V and I band, so I thought of an underscore to separate them in the phot file and the prior file, and the error only appeared when fitting for r_1 and r_2 with the --efficient_bp -pl 0. -pu 1. flag.

Traceback (most recen

[2019-02-07 19:23] nespinoza commented on #2
Hi @jvines! This is indeed expected; instrument names should not have underscores. We will put this in the documentation!

[2019-02-07 19:23] #2 closed

[2019-03-24 23:31] jvines opened #3 "Error when plotting light curves"
Hi Nestor.

I've gotten the following error when plotting the photometry of a fit, similar to the phase folded RV problem:

/Users/jvines/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3250: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
/Users/jvines/anaconda2/lib/python2.7/site-packages/numpy/core/fromnumeric.py:83: RuntimeWarning: invalid value enc

[2019-03-25 14:27] DJArmstrong opened #4 "efficient_bp"
Hi Nestor,

The python calls in tutorials 1 and 2 have the --efficient_bp argument but it looks like that has been commented out in juliet.py. It makes the tutorial calls error if copy pasted directly.

Cheers,
Dave

[2019-03-25 14:30] nespinoza commented on #4
Hi @DJArmstrong --- thanks for this. I have removed the calls from the tutorials.

Best

Néstor

[2019-03-25 14:32] nespinoza commented on #4
I have also removed the mention of this call in the rest of the wiki!

Thanks again,

Néstor

[2019-03-25 14:32] #4 closed

[2019-03-25 14:33] nespinoza commented on #3
Hi @jvines,

 Are you by any chance using a GP on the photometry? And if so --- which GP kernel?

N.

[2019-03-26 00:32] jvines commented on #3
Hi Nestor,

I am using GP on the photometry. I'm using the exponential kernel from celerite

[2019-03-26 10:15] DJArmstrong opened #5 "Tutorial 2 stuck"
Hi Nestor,

Trying the second tutorial and the code gets stuck - the following message gets printed repeatedly and has been going for most of a day now. I'm just running the tutorial call with no changes.

Cheers,
Dave

Random walk proposals appear to be extremely inefficient. Adjusting the scale-factor accordingly.

[2019-03-26 10:25] nespinoza commented on #5
Hi Dave,

 Do you have the dynesty version from pip install or did you clone the repo from the dynesty GitHub? If the former, that might be the problem. If not, could you try running the call again and see if the problem persists?

 Best

Néstor

[2019-03-26 10:28] nespinoza commented on #3
Hi @jvines,

 This might be the problem. I have an open issue in celerite (https://github.com/dfm/celerite/issues/141) because it sometimes spits out "Nan" values, which is most likely what you are seeing here. To check this, in the .dat files outputted by juliet, do you see Nan values?

 Best

Néstor

[2019-03-26 14:00] DJArmstrong commented on #5
Ah that was it. I had the pip version - reinstalling with the github version of dynesty fixed it (although still with a lot of the same line appearing).

Thanks!

[2019-03-26 14:29] nespinoza commented on #5
Cool; glad that solved it! Closing this then.

N.

[2019-03-26 14:29] #5 closed

[2019-03-26 18:54] jvines commented on #3
Hi Néstor,

Indeed that is the case, the are nan values in the output files.

Cheers

[2019-03-27 11:53] nespinoza commented on #3
Hi @jvines,

 Sadly we will have to wait until a patch comes up for this in `celerite`. What I can say, however, is that this is a plotting issue only and the posterior fits should be OK (at least, I've ran tests and the posteriors I get are exactly what I put in). In any case, I'll keep you updated on any news regarding `celerite`.

I'll leave this issue open so I remember to come back to this on

[2019-04-24 08:22] jvines commented on #3
Hi @nespinoza,

Playing around with Juliet I found that, rather randomly, the GP returns only nan values (resulting in a phase folded plot with only the model, but not the data). Every other thing works fine, except that plot.

Looking at the code I managed to find that the first instance of the GPmodel variable printed nan values, but I couldn't go further.

I say it occurs rather randomly becaus

[2019-05-10 15:44] mrdmetal commented on #2
And also juliet won't run if the instrument name has numbers, like when you are using pre and post-fix data from the same instrument: PFS1, PFS2, HARPS1, HARPS2, and so on.
I changed it to PFSold, PFSnew and it runs without issues.

[2019-05-11 20:12] jvines opened #6 "Multiple Transit fit detected prints"
Hi @nespinoza .

In the latest version of Juliet I find that the 'Transit fit detected for instrument X' is printed multiple times. For example, for your K2 multiplanet tutorial at the start of Juliett I get this:

	 	 ---------------------------------------------

	 	                   juliet v.1.0

	 	      Authors: N. Espinoza, D. Kossakowski
	 	      Contact: espinoza at mpia.de

	 	 ---------

[2019-05-14 18:44] nespinoza commented on #6
Fixed in the latest commit: https://github.com/nespinoza/juliet/commit/d120f21e1c527d3ce65935905ffd1909da3b116b

[2019-05-14 18:44] #6 closed

[2019-06-19 00:13] zmberdinas opened #7 "load pickle file"
The documentation (section "Installing and basic usage/juliet outputs") indicates that the posteriors can be read as:
`posteriors = pickle.load(open('posteriors.pkl','r'))`
However, the pickle file was encoding as a binary file, thus, I have to read as:
`posteriors = pickle.load(open('posteriors.pkl','rb'))`
Maybe you would want to update the documentation if this is a general case.

[2019-06-25 13:59] G-Vishaal opened #8 "Error when trying to start the program"

[2019-06-25 15:04] dianadianadiana commented on #3
Hi all,

To do a quick "go around" this issue, I implemented this change found in this commit: 18606e48d274f2abc963361288729027098281e1
The root problem isn't fixed, but now we are able to obtain the automatic juliet plots.

Essentially, for some samples, there might be one value in the computed GP model that contains a NaN value. If this is the case, we don't consider this sample and continue to

[2019-06-25 15:07] dianadianadiana commented on #7
Hi @zmberdinas,

Thanks for pointing this out! This is now fixed in the Wiki. In the juliet.py file, we had 'rb' so nothing was changed there, but I did add a different way of reading the pickle file because I encountered an issue myself, see commit: 110ae8125744a8d0835dfee6d7a1f585b60f25f0
I'll close this issue.

Best,
Diana

[2019-06-25 15:07] #7 closed

[2019-06-26 13:42] #8 closed

[2019-06-26 15:34] zmberdinas opened #9 "Error when output path is too long."
Hi Diana and Nestor!
  I've got an error in line #1310 when reading "posterior_samples".

 #1309     output = pymultinest.Analyzer(outputfiles_basename=out_file, n_params = n_params)
 #1309     # Get out parameters: this matrix has (samples,n_params+1):
 #1310     posterior_samples = output.get_equal_weighted_posterior()[:,:-1]

Basically, Juliet cannot read Multinest outputs because the file with

[2019-10-08 17:32] jvines opened #10 "Key error when extracting samples"
Hi @nespinoza, @dianadianadiana

I have this error with Juliet when it finishes running:

Traceback (most recent call last):
  File "juliet.py", line 1410, in <module>
    utils.writepp(outpp,out)
  File "/Users/jvines/github/juliet/utils.py", line 250, in writepp
    omega = posteriors['posterior_samples']['omega_'+planet]*np.pi/180.
KeyError: 'omega_p1'

It's weird that it tried to access omega_

[2019-10-08 18:35] jvines opened #11 "posteriors.dat not showing instrument parameters"
Exactly what the title says... My posteriors for a run with 3 different photometry instruments didn't show any of the instrumental parameters.

[2019-10-08 18:40] nespinoza commented on #11
Hi Jose,

 As you might have guessed, it is practically impossible for us to debug this if you don't provide us with some information such as your prior file, or lightcurves and any terminal text you encountered.

 If you can't share any of this, creating a mock dataset that reproduced the error would be good. You can also contact us directly to share these. Also: are you using the classic juliet

[2019-10-08 18:44] jvines commented on #10
After updating juliet to the latest version, this problem vanished (yay) so I'll just close this...

[2019-10-08 18:44] #10 closed

[2019-10-08 18:52] jvines commented on #11
Oops, you are right. Silly me...
I am using the pip installable version (but installed through the cloned repo)

The priorfile I used is:

[code]

And the posteriors.dat file I get is
[code]

I do not know if I can share the dataset, so I'll try to create a mock dataset that reproduces the error...

Also, the call to Juliet was:

[code]

There were no warnings or errors at the end of the fitting p

[2019-10-08 18:59] nespinoza commented on #11
Hi Jose,

 Great, thanks for the input! One detail is that as it is explained in the readthedocs page (https://juliet.readthedocs.io/en/latest/user/quicktest.html), calling the code using the ``juliet.py`` extension is going to lose support soon. Currently the importable version of the code is working perfectly (again, check the tutorials!), and I'm working on making it terminal callable (i.e., ``

[2019-10-08 19:13] jvines commented on #11
I re-ran the fit... and for some reason it worked this time. I have no idea why because it was the same call and everything (just changing the output folder)

I guess this can be closed now..

[2019-10-08 19:15] nespinoza commented on #11
OK! Feel free to re-open if something like this happens.

[2019-10-08 19:16] #11 closed

[2020-02-25 19:57] nespinoza commented on #9
Hi @zmberdinas --- sorry for answering to this *so late*. This is a problem only with MultiNest, and is actually a problem we cannot solve because the character limit is embedded within MultiNest (see https://github.com/JohannesBuchner/PyMultiNest/issues/107). I have added a warning of this on the documentation though (see https://juliet.readthedocs.io/en/latest/user/quicktest.html).

Thanks!

N.

[2020-02-25 19:57] #9 closed

[2020-03-17 23:47] jvines opened #13 "results.lc.evaluate not working when given a custom time array"
Hi,

I'm running Juliet on a single night photometry observation and after running juliet, since we only have one night worth of data, the lightcurve isn't sufficiently sampled, so I tried running
[code]

but it throws the following error (rather randomly because sometimes it works..?)

[code]
To my understanding this should work (and it does... randomly), what could be happening?? If you need any

[2020-03-18 00:19] nespinoza commented on #13
Hi Jose,

 Thanks! Can you generate a reproducible example?

N

[2020-03-18 04:00] jvines commented on #13
I haven't been able to reproduce it, but I found that during the generation of the model `self.modelOK` is set as False when it crashes and this happens because of the inc_inv_factor > 1 -- which makes the randomness of the error make sense.

Might I suggest checking for model validity while going through the sample indexes in the evaluate_model function?

Maybe an evaluation if the samples are va

[2020-03-18 04:02] jvines commented on #13
I think it's worth noting I fixed the eccentricity and omega to 0 and 90 respectively and I'm fitting directly for b and p, as using r1 and r2 is producing b > 1 which is incorrect for this particular system... I'm also fitting photometry only, no RVs involved

[2020-03-24 18:39] JamesKirk11 opened #14 "issue with running with multi-dimensional squared exponential kernel"
I am running into an issue running multi-dimensional Sq Exp kernels. I can reproduce the online tutorials and fit my own data with both a linear model and a transit-only model. However, when I switch on the GP fitting, I get a bunch of errors from dataset.fit() culminating in:

ValueError: could not convert string to float: '0.695242354918611711-309'

It is possible that this is a prior-related is

[2020-03-25 07:50] dianadianadiana commented on #14
Hi James,

This is not an unheard error! I've run into this myself a few times as
well and it's just been a user-input mistake.
Would you mind sharing the data you have so we can better fix it and try
running it on our own?
Also since you are using the GP, all the extra fitting data would be
great too.

Thanks and stay healthy,
Diana

On 2020-03-24 19:39, James Kirk wrote:

[2020-03-25 13:49] JamesKirk11 commented on #14
Hi Diana,

Thanks for your quick response. Yes it's not unlikely that I'm causing this error!

The times, fluxes and errors are attached here. At the moment I am just running the GP with time as the input so this should be all you need.

Thanks, you too!

James

[data.txt](https://github.com/nespinoza/juliet/files/4381236/data.txt)

[2020-03-27 11:43] dianadianadiana commented on #14
Hi James,

I tried sending this email but it bounced back twice but maybe it went
through, sorry if you got it 3 times! --

I actually had no problems! I used the same priors you had, but maybe I
have a different set up in the code?
I attached a zip file where I did three fits and here are their lnZs:
(1) transit only 979.751
(2) transit + LT 1005.857
(3) transit + GP 1041.549
So including the GP

[2020-03-27 13:00] JamesKirk11 commented on #14
Hi Diana,

Thanks a lot for this and sorry about the email issue, I think it might have been going to an old institutional email associated with my GitHub! Please could you resend the zip file to james.kirk@cfa.harvard.edu?

Cheers,
James

[2020-03-31 00:12] nascarsdale opened #15 "Joint Fit Example: "Parameters Converging to Edge of Prior"?"
Hi Nestor and co.,

Thanks for this great tool! I have juliet installed (along with multinest and its LAPACK dependency) and am running through the tutorials in preparation for performing my own fits. However, in running the joint fit example of the TOI 141 system myself, multinest warns me "Parameter           [n]  of mode            1  is converging towards the edge of the prior", where n has be

[2020-04-03 09:20] JohannesBuchner opened #18 "Make GP lazier"
If I have a gaussian process where all parameters are fixed, it seems that currently the GP is recomputed.
How can I disable this unnecessary and costly recomputation? I want to keep sigma free though.

[2020-04-11 00:12] jvines opened #19 "Modifying dictionary during iteration"
Hi,

In fit.py, line 1303, you have the following:

[code]

That last line is effectively modifying the dictionary you're currently iterating through in the case where RV datasets are analysed, this induces the error `RuntimeError: dictionary changed size during iteration`

This error is showing up when reading the output of runs made with Juliet before it became a package

I fixed it by changing

[2020-05-07 15:29] jvines opened #21 "Add derived parameters to the results dictionary"
I think it would be a good idea to add the derived parameters (e.g. p and b when using r1 and r2) to the results.posteriors dictionary, which can be a time save for the user if they want to produce a cornerplot or individual distributions.

[2020-05-27 23:33] jkteske opened #23 "joint fit example with TOI-141 not converging"
I'm following the example of a joint fit (https://juliet.readthedocs.io/en/latest/tutorials/jointfits.html) but the fit is not converging. I keep getting this message after about 2 hours:

MultiNest Warning!
 Parameter            4  of mode            1  is converging towards the edge of the prior.

The tutorial says it takes about an hour to run on a laptop (which is what I'm using), but this see

[2020-05-28 13:04] nespinoza commented on #23
Hi Johanna,

 Thanks for the feedback on this! Does the message gets updated, or you don't get any more outputs from the code? There are two options here, and would like to check which one might be it. Have you tried running it again?

Néstor

[2020-05-28 13:15] jkteske commented on #23
Yes, I tried running it again and had the same issue. It's hard to tell if the message is getting updated or not, since it's the same message (after a while my terminal window does not appear to change, just shows the same message printed over and over). I think it is getting updated, but I'm not 100% sure.

[2020-05-28 13:26] nespinoza commented on #23
Well, it could be several things:

1. Each run is different, so it might take a little more or less time on each run.
2. Our laptops can be different, and therefore, while it took me an hour in mine it might take you a little more in yours (although _several hours_ smells like a problem to me).
3. There are some known portions of the parameter space where `batman` gets hang up, and it might be tha

[2020-05-28 13:31] nespinoza commented on #18
Hi @JohannesBuchner --- good call on this one. If the model is a `global` model (meaning, you are fitting for a common realization of a GP on different datasets), then this is the expected behavior in the case in which you want to keep sigma free (because you _have_ to recompute the covariance matrix). If this is a different GP realization for each instrument, then this could be implemented, yes -

[2020-05-28 13:33] nespinoza commented on #15
Hi @nascarsdale --- this might be related to issue https://github.com/nespinoza/juliet/issues/23. Please follow the discussion over there; sorry for coming so late to this.

Néstor

[2020-05-28 13:34] nespinoza commented on #19
Hey @jvines --- thanks for this! I'll take a deeper look soon to this to include it.

[2020-05-28 13:38] nespinoza commented on #21
True. Will mark it as a to-do enhancement!

[2020-05-28 13:41] nespinoza commented on #14
This seems to have been an internal script problem, so I'm closing it. @JamesKirk11 feel free to open another issue if this was not the case! (thanks @dianadianadiana for double checking this!)

N.

[2020-05-28 13:41] #14 closed

[2020-05-28 13:44] jkteske commented on #23
Okay, thanks. I just started again with np.random.seed(22).

[2020-05-28 14:01] nespinoza commented on #23
Hi @jkteske --- I think I just found the problem! The fit is never going to converge, because the times in the TESS timestamps are in modified TESS JD, whereas the RVs are in JD. Very dumb of me of not including this conversion in the docs (but, of course, in the script I have in my computer they are OK). I'll fix that now in the docs.

Sorry about this!

Néstor

[2020-05-28 14:13] JohannesBuchner commented on #18
Ok, for me it was the former. I was under the impression that in george one could modify the diagonal a bit faster with https://george.readthedocs.io/en/latest/user/gp/#george.GP.white_noise

[2020-05-28 14:26] nespinoza commented on #18
Yeah, but I remember that only worked if you had only _one_ sigma, whereas in the case of different instruments, you usually have a different sigma for each instrument. Because the global model in practice is one huge covariance matrix accounting for all the instruments, you have to add the corresponding sigma to the diagonal elements corresponding to the different instruments, and to my knowledge

[2020-05-28 14:48] nespinoza commented on #23
Hi @jkteske --- I've updated the documentation with the correct time conversions in https://github.com/nespinoza/juliet/commit/0d1c1133222e8b05fbb80e4316802a8dbfc23d1d (which has updated the docs: https://juliet.readthedocs.io/en/latest/tutorials/jointfits.html). I've just checked copy-pasting that in my computer, and it took 1.3 hours to finish (~1 hour and 20 mins).

Let me know if this fixed th

[2020-05-28 14:55] JohannesBuchner commented on #18
Hmm, ok. I only have one instrument.

[2020-05-28 14:57] nespinoza commented on #18
Yeah, in that case, the white-noise George solution should work. I should then create an if-statement for one-RV-instrument cases where this lazy evaluation is performed.

[2020-05-29 01:50] jkteske commented on #23
It's now been about 4 hours, and the following message keeps coming up (is definitely updating, but very slowly):

MultiNest Warning!
 Parameter            4  of mode            1  is converging towards the edge of the prior.
 Parameter           21  of mode            1  is converging towards the edge of the prior.

[2020-05-29 01:52] nespinoza commented on #23
Have you updated the fit with the changes I made above in the docs?

[2020-05-29 01:54] jkteske commented on #23
Yes, I modified it to replace the old version with:

# Put data in dictionaries, add 2457000 to the times to convert from TESS JD to JD:
times, fluxes, fluxes_error = {},{},{}
times['TESS'], fluxes['TESS'], fluxes_error['TESS'] = t + 2457000,f,ferr

[2020-05-29 02:03] nespinoza commented on #23
Yes, that's also important! Let me know how it goes in about an hour. Hope that solved it.

[2020-05-29 16:57] nespinoza commented on #23
Yay! I'll go ahead and close this issue then. If there are any other issues, please, let us know by opening another Github issue!

N.

[2020-05-29 16:57] #23 closed

[2020-05-29 16:57] nespinoza commented on #15
Hey @nascarsdale --- this has been solved in https://github.com/nespinoza/juliet/issues/23! I'll go ahead and close this issue.

N.

[2020-05-29 16:58] nespinoza commented on #13
Hey @jvines --- we made some changes in the current repo that should have solved this. Could you check? If you don't remember, I'll just go ahead and close this issue but if you see it again, feel free to open a new one. Either way, I'll wait for your feedback.

N.

[2020-05-29 16:58] #13 closed

[2020-05-29 17:01] jkteske opened #24 "issue with adding 'rv_intercept' & 'rv_slope' to priors and fit"
In the "fitting radial velocities" tutorial, when I try to add 'rv_intercept' and 'rv_slope' to the priors and fit, I get the following error:

KeyError                                  Traceback (most recent call last)
<ipython-input-46-94594c9ce3ff> in <module>
      1 # Run juliet:
      2 dataset = juliet.load(priors = priorsLT, rvfilename='rvs_toi141.dat', out_folder = 'toi141_rvs_3planets')

[2020-06-04 22:55] jkteske commented on #24
I have a similar issue (I think) when trying to include 'GP_sigma_rv' in a global model (in Incorporating Gaussian Processes tutorial).

KeyError                                  Traceback (most recent call last)
<ipython-input-9-3ad7984b12ad> in <module>
     62                       GPrveparamfile='GP_regressors_rv.dat')
     63
---> 64 results = dataset.fit(n_live_points = 300)

~/anaconda/envs

[2020-06-08 21:00] nespinoza commented on #24
Hi @jkteske,

 Sorry for just returning to this! Your first problem turns out it has to do with the code in the tutorial trying to save the results of the linear trend to the same folder as the 3-planet fit. When a folder already exists, `juliet` by default loads the priors in the folder *but* defines internally the ones given by the user in the dictionary (i.e., the `priors` dictionary). This is

[2020-06-09 20:32] jkteske commented on #24
Thank you thank you! These changes fixed the issues.

[2020-06-10 03:46] nespinoza commented on #24
Fantastic! Glad to know it was all resolved at the end. Closing this issue then and, if you have any more questions and/or bugs, please feel free to open another issue!

N.

[2020-06-10 03:46] #24 closed

[2020-06-18 11:03] Himakesh opened #26 "Run time error"
![Screenshot_2020-06-18-16-24-45-249](https://user-images.githubusercontent.com/67102370/85012845-45e8be80-b181-11ea-8ba2-2d151c7e028a.jpeg)

rsf > use scanners/autopwn
Traceback (most recent call last):
  File "/usr/bin/routersploit", line 26, in <module>
    routersploit()
  File "/usr/bin/routersploit", line 22, in routersploit
    rsf.start()
  File "/usr/lib/python3/dist-packages/routersploit

[2020-06-24 00:09] jkteske opened #27 "automated plots"
I found the automated plots that the older (command line) version of juliet made very helpful. Could these be ported over to commands or just part of some of the current juliet version's fitting code? That would provide more reason for me to use juliet over other options. :)

[2020-06-24 17:02] nespinoza commented on #27
Hi @jkteske,

This has been an idea all along, but still not time to work on this. @dianadianadiana I think was working on this at some point, but I don't know what the status of that is. I don't have much time in the next few weeks to get this done sadly.

N.

[2020-06-25 16:50] jkteske commented on #27
Okay, thanks. I will try to get the old (command line) version working.

[2020-06-26 08:32] dianadianadiana commented on #27
Hey @jkteske,

Like Nestor said I've been working on an automatic plotting tool. I don't have all the features that the previous juliet had but most of them. Once I have them all, I'll put it up on Github because the plotting would be helpful! But if you need something now feel free to drop an email :)

Diana

[2020-06-28 19:24] rrpastro opened #28 "AttributeError: dlsym(RTLD_DEFAULT, run): symbol not found"
I was trying to run the tutorial after installing the required packages but came across this error message:
--
AttributeError: dlsym(RTLD_DEFAULT, run): symbol not found
--
 while I tried to fit the data in this step:

results =  dataset.fit()

I did not see the solution specific to this problem. I guess it is related with some dependencies but could not figure out what might have caused it. Would

[2020-06-30 01:26] jkteske commented on #27
Thank you! I'll send an email, too. :)

[2020-07-06 22:59] jkteske commented on #21
Second this! It would also be useful to include, say, Mp if Mstar is provided.

[2020-07-06 23:09] jvines commented on #21
Ah, yes! That's something I've thought of as well. I guess I got too accustomed to doing the calculation myself. It would be a very very welcome addition!

[2020-07-08 15:31] TakuNishiumi opened #29 "`instrument` 's name bug"
Hello,

I probably found a bug, so I report here.
https://juliet.readthedocs.io/en/latest/user/priorsnparameters.html#exoplanets-with-juliet-pt-i-planetary-parameters
When I input the name of `instrument` in this link as M_1, it occured the error.
It seems `instrument` distinguish the intrument name by using "_", so the error might happened.
Could you check this?

Thank you.
Taku

[2020-07-08 15:34] nespinoza commented on #29
Hi Taku,

 Indeed, the instrument names, in general, should not have underscores in the names (in your case, you might want to call the instrumnet `M-1` instead). I'll write a warning in the documentation to note this!

 Thanks!
Néstor

[2020-07-08 15:34] #29 closed

[2020-07-08 15:35] TakuNishiumi commented on #29
Thank you for your quick response!

[2020-07-08 15:40] nespinoza commented on #28
Hi @rrpastro --- this seems like it is a `MultiNest` issue. One quick way to check this is to open a python script/terminal/jupyter notebook and do `import pymultinest` --- my bet is that you'll get this error there as well.

Have you followed the installation instructions for `pymultinest` in the Read the Docs (https://juliet.readthedocs.io/en/latest/user/installation.html) (including the `export

[2020-07-08 18:19] TakuNishiumi opened #30 "KeyError: 'a_p1'"
Hello, again
I executed below program.
I used `a_p1` instead of `rho`, then I got this error.
Do you have any ideas to solve this?

Program:
[code]

Error:
[code]

[2020-07-08 18:28] nespinoza commented on #30
Hi,

 That's very weird, because it seems the fit finished to run, but the problem is happening when trying to write the `posteriors.dat` file. Do you have more than one pickle file in the output folder?

 Best,
N.

[2020-07-09 04:23] TakuNishiumi commented on #30
My output folder have these files.
[code]

[2020-07-09 04:57] TakuNishiumi commented on #30
I realized that I executed this program after removing the same output folder. (eg. the name is output1)
After the first execution (output folder is output1), the below error was returned.
[code]
and I re-executed the same cell, the program started to sampling and I got the "KEY Error" I described at the end.

Sincerely,
Taku

[2020-07-09 05:20] nespinoza commented on #30
Interesting. This seems to be a `dynesty` issue really, but perhaps we can do something about it. If instead of doing `results = dataset.fit(dynesty_nthreads = 6)` you try `results = dataset.fit(use_dynesty = True, dynesty_nthreads = 6)` do you get the same result in the first run?

[2020-07-09 05:30] TakuNishiumi commented on #30
Thank you.
I tried it and got the same `ValueError: min() arg is an empty sequence` in the first run.

[2020-07-09 05:33] nespinoza commented on #30
Hard to debug here, really. Could you send me an e-mail with the dataset + script so I can run it on my machine to check (nespinoza at stsci.edu)?

Thanks!

[2020-07-09 05:34] TakuNishiumi commented on #30
Yes, I will send you.
Thank you.

[2020-07-09 14:06] nespinoza commented on #30
Hi @TakuNishiumi,

 I'm closing this issue, as it turned to not be a `juliet` problem. For readers having questions about this: this was related to some of the parameters being ingested as fixed to `juliet` having unphysical values, so the code didn't produce any samples. Perhaps I'll set a warning about such fixed parameters in the future --- but this is very low priority right now. Will create a

[2020-07-09 14:06] #30 closed

[2020-07-09 14:09] nespinoza opened #31 "raise ValueError when users fix parameters to unphysical values"
Currently, `juliet` runs but doesn't produce any samples if some parameters are fixed to unphysical values (e.g., `a_p1 < 1`). A good enhancement would be for `juliet` to check for those unphysical values, and raise, e.g., a `ValueError` forcing the user to change the fixed parameter so the code runs properly.

[2020-07-09 14:23] TakuNishiumi commented on #30
Dear @nespinoza

Thank you very much for your help.
@TakuNishiumi

[2020-07-09 15:02] rrpastro commented on #28
Hi @nespinoza  -- thanks for your suggestion. I checked 'import pymultinest' and get no error message. Yes, I followed the installation instructions for 'pymultinest'. I reinstalled and checked, but still get the same error at same point.

However, using 'dynesty' does not give that error. So, I will use 'dynesty' like you have suggested.

Cheers,
R.

[2020-07-09 21:15] nespinoza opened #32 "Dilution factors returning same input distributions"
Comparisons between the old script version and the new version done by @astrofelipe revealed a bug that was giving back the same input (prior) distributions in the posteriors for the dilution factors.

[2020-07-09 21:17] nespinoza commented on #32
Solved in commit 60ad785!

[2020-07-09 21:17] #32 closed

[2020-07-11 06:31] TakuNishiumi opened #33 "There is no GP key in results.lc.model[instrument]"
Hello,

Forgive me for my many issues.

I tried this code, and the sampling went through.
The extract median model plots and parameters from sampling seems also good.
However, there are no the `GP` key in the `results.lc.model['M1g']`.
I also confirmed that parameters are phyisical.
Do you know where is my mistake?

[code]
returns
[code]

[2020-07-11 13:56] nespinoza commented on #33
Hi Taku,

 This is because you have to evaluate the model first, as follows: `prediction = results.lc.evaluate('M1g')`. Then you will have the model evaluated at the best-fit median values (using 1000 samples, as explained in the tutorial), and you will see all the components in `results.lc.model['M1g']`, including the GP component.

N.

[2020-07-11 13:56] #33 closed

[2020-07-11 15:07] TakuNishiumi commented on #33
Thank you very much.

[2020-07-23 02:12] hover2pi opened #34 "Installation Error"
I tried pip installing and doing a local install but both throw the error `AttributeError: 'dict' object has no attribute '__NUMPY_SETUP__'`. It looks like perhaps it's a problem with the `radvel` package? I'm using Python 3.5.3. Have you seen this before? Thanks!

[2020-07-23 03:11] nespinoza commented on #34
Hey @hover2pi! This is a first (for me) --- never seen this error before. Have you checked this is a `radvel` problem? Could you post the entire Traceback? If it is, best would be to ask them directly in their Github about this (https://github.com/California-Planet-Search/radvel/issues).

[2020-07-23 03:13] nespinoza commented on #28
Hi @rrpastro --- did you do the `import pymultinest` followed by the `results = dataset.fit()` call and still got this error? I'm a bit puzzled this evident MultiNest error doesn't show up when you do `import pymultinest`. Are you sure you are not using an already opened notebook? Or another version of python?

[2020-07-24 02:45] hover2pi commented on #34
Here's the traceback:

[code]

[2020-07-24 03:13] hover2pi commented on #34
Ok! In the `exoctk` environment, I had to upgrade to:

[code]

Then install `radvel` separately and then `juliet` installed! This just means we need to update the requirements in the `exoctk` environment to the versions listed above to include `juliet` as a dependency. So I'm good to go!

[2020-07-24 03:13] #34 closed

[2020-07-24 18:55] StephanStock opened #35 "Enhancement suggestion: Simultanous GP fitting (shared hyperparameters) for activity indicators and RV/Transit data"
Hi  Nestor,

One thing I would love juliet to be capable, is the combined GP modelling of activity indicator/photometry with RV or Transit data. In principle it is very similar to sharing hyperparameters between different instruments and therefore maybe its not to hard to implement. One must only exclude the Keplerian model to be applied on the activity indicators or photometry.

I think this is a

[2020-07-27 14:37] nespinoza commented on #35
Hi @StephanStock,

 Yeah, this has been in the backburner for me for a while. I think it would mean adding an extra "dataset" type to `juliet`, so as we have "photometry" and "RVs" we would also have "activity indicators" that as you say would be very similar to the RV models, only ommiting the Keplerians.

 I'll leave it in the backburner for now, hoping I have time to implement this in the near

[2020-07-29 14:12] icweaver commented on #28
Hi all, I think I've run into this same problem before. @rrpastro, are you using the pypi version of `pymultinest` by any chance? I'm not sure if this is just a platform specific issue, but things seemed to work alright if I just used conda's version instead (`conda install pymultinest`)

[2020-07-29 18:08] rrpastro commented on #28
Hi @nespinoza -- yes, I get the same error even after successfully being able to import `pymultinest`.  I am running it in Python 3.7.3 environment. I opened a fresh notebook today and checked today again.

Hi @icweaver -- Thanks for your suggestion. I installed using pip and followed other steps as mentioned in the webpage. For some reason, I am unable to install using conda. I get 'PackagesNotFo

[2020-07-29 18:15] icweaver commented on #28
Oh, apologies, I didn't relive that I had `conda-forge` as a default channel. You can either add it to your `.condarc` and re-try the command, or just do `conda install -c conda-forge pymultinest` to do an explicit install

[2020-07-31 03:10] icweaver opened #37 "Updating constants"
TIL about [CODATA](https://physics.nist.gov/cgi-bin/cuu/Value?bg). It looks like G has been updated since 2014, so it might be better to just let `astropy` handle the constants sprinkled throughout [here](https://github.com/nespinoza/juliet/search?q=G+%3D+6.67408e-11&unscoped_q=G+%3D+6.67408e-11) to help future-proof these kinds of things?

[2020-08-04 15:03] rrpastro commented on #28
Thanks @icweaver for the update. I did `conda install -c conda-forge pymultinest` and looks like it is working now.

[2020-08-04 15:04] #28 closed

[2020-08-10 15:54] nespinoza commented on #19
Fixed in https://github.com/nespinoza/juliet/commit/2160e0d4f4bb4e818482e37e295847d599a4223d

[2020-08-10 15:54] #19 closed

[2020-08-10 21:08] nascarsdale commented on #15
Hi @nespinoza - thank you so much!

I've recently been revisiting juliet for joint fitting purposes, and I'm bizarrely finding that this problem has persisted (apologies that I'm just replying to your months-ago fix!) I examined #23 and made the same changes made in the documentation (turning the TESS JD in the prior and data to BJD), and also used np.random.seed (22) as was done in that thread ju

[2020-08-10 21:10] nespinoza commented on #15
Hey @nascarsdale --- yes, that might be useful! Send it via email at nespinoza at stsci.edu. I'll reopen this issue until we find the root of this problem :-).

N.

[2020-08-10 21:28] nascarsdale commented on #15
Sent! Thank you so much!

[2020-09-02 07:10] TakuNishiumi opened #38 "Document: n_live_points"
https://juliet.readthedocs.io/en/latest/user/api.html#juliet.fit

Hi, nespinoza,
I found that
class juliet.fit says n_live_points=1000 as default, but the below explanation says default is 500.
Which is True?

Sincerely,
TakuNishiumi

[2020-09-02 12:31] nespinoza commented on #38
Hi @TakuNishiumi!

 Indeed, the docstring got it wrong --- it is 1000 indeed. Thanks for the catch --- will solve it ASAP!

N.

[2020-09-04 14:51] TakuNishiumi opened #39 "LinAlgError: When I uses Multi-dimensional squared-exponential kernel"
Hi, @nespinoza

When I executes below program, I got the error.
I also tried to use Matern kernel, It did worked.

I set the 9th parameter range to positive,  but the same error occured.
In addition to it, the parameter sometime changes to 10th parameter.
9th and 10th parameter are GP parameters.

Do you have ideas to solve?

Thank you,
@TakuNishiumi

Code:
[code]

Error:
[code]

[2020-09-04 16:36] nespinoza commented on #39
Hi @TakuNishiumi,

 Hard to know really, as this seems to be a numerical problem. What do the regressors you are inputting for the GP look like? Are they times in days? What's their range?

N.

[2020-09-05 11:09] TakuNishiumi commented on #39
Thank you for the answering.
Exactly, the regressor is times in days. And the time range is about 10 hours.

[2020-10-15 13:51] JonasKemmer opened #40 "Return individual samples of model components if return_samples is true"
Hey Nestor,
title says it all. Adding "if not return_samples:" in line 1979 would make it possible to calculate own quantiles from the samples of the individual components. This would be handy for calculating the confidence intervals of planet phase plots.

Though, I did not check if you need the median components and full model samples elsewhere in juliet, but I tried it and it seems fine.

Best,

[2020-10-22 15:27] jvines opened #41 "Check light curve for nans"
Hi,

I recently struggled a while because juliet wasn't running correctly to find out that the light curve file had a single nan point, maybe it could be useful for the code to detect the nan values and either remove them or let the user know this is the case.

Cheers

[2020-10-22 21:26] nespinoza commented on #41
We could, but I _really_ think this is something the user should check. I fear this will always be so far in our priority list that it will never get done, so if anyone feels strongly about this, we are open to Pull Requests :).

[2020-10-27 02:32] jkteske opened #42 "multiple instruments + GP"
When I try to run juliet with a GP (celerite QP) with multiple data sets, I get the following error:

         Running NESTED SAMPLING (multinest)
(‘\t e,omega parametrization for RV planet ‘, 1)
(‘\t e,omega parametrization for RV planet ‘, 2)
         Fitting RV GP.
(‘\t Detected ’, ‘CeleriteQPKernel’, ‘for the GP’)
(‘\t (’, 1, ‘external parameters)’)
Traceback (most recent call last):
  File “j

[2020-10-28 03:14] jkteske commented on #42
Gah, sorry, never mind. I *does* work when I sort the RVs and GP regressors by date.

[2020-10-28 03:14] #42 closed

[2020-11-06 19:02] ThomasGWilson opened #43 "Unable to evaluate RV model including custom linear model"
Hi Nestor,

I have been trying to use Juliet to fit a rv model to data including custom linear basis vectors. I have proceeded following the "incorporating linear models" tutorial (https://juliet.readthedocs.io/en/latest/tutorials/linearmodels.html), but of course changing relevant data and priors. Loading in the data works well and running dataset.fit() apparently works, however when I run result

[2020-11-06 20:39] MohammadEftekhar opened #44 "canot fit secondary eclipses"
For fitting secondary eclipse, How could I set parameter of 'r1_p1','r2_p1" ?

[2020-11-10 04:42] nespinoza commented on #43
Hi @ThomasGWilson,

 I'll have to look at this to see what is going on, but in the meantime if it is a simple linear model, perhaps you can evaluate it on your own? I just won't have time to look at any of this before November 24th sadly :-(.

 Cheers,
Néstor

[2020-11-10 04:45] nespinoza commented on #44
Hi @MohammadEftekhar,

 Currently `juliet` does not _directly_ fit for secondary eclipses, but you can of course deactivate the limb-darkening by setting `q1` equal to zero to mimic a secondary eclipse. There, the time-of-transit would really be the time-of-secondary eclipse, of course.

 Let me know if this helps. If you need further help, please provide me with a minimal working example so you c

[2020-11-11 12:10] MohammadEftekhar commented on #44
Hi Néstor
Thank You for response.
Yes as You say I did that. What about q2?
I setted q1 and q2 equal to zero.
Thank You
Mohammad

On Tue, Nov 10, 2020 at 8:15 AM Néstor Espinoza <notifications@github.com>
wrote:

[2020-11-11 12:20] nespinoza commented on #44
Hi Mohammad,

 That would work as well. Remember that the limb-darkening law is not defined by q1 and q2, but by u1 and u2 such that, e.g., for the quadratic law, `u1 = 2.*np.sqrt(q1)*q2` and `u2 = np.sqrt(q1)*(1.-2.*q2)`. So if you set both q1 and q2 to zero, you get `u1 = 0` and `u2 = 0`. Given the limb-darkening law is `I(mu) = 1-u1*(1-mu)-u2*(1-mu)**2`, this gives `I(mu) = 1`, i.e., a uniform

[2020-11-12 02:37] MohammadEftekhar commented on #44
Thank You Néstor

[2020-11-14 11:32] MohammadEftekhar opened #45 "set fixed for u1 and u2"
Hi
how i can set fixed for u1 and u2 (limb-darkening). is that posible?

[2020-11-25 08:41] TianjunGan opened #46 "transit + RV+GP joint fit problems"
Hi Nestor, currently juliet can perform a joint fit for transit and RV data along with independent GP models. But it seems juliet can not link the two GP models (i.e., share the L and Prot parameter between the transit and RV GP models but use independent B and C for transit and RV)? Is it possible to implement this?

Thanks so much!
Tianjun

[2020-12-23 15:14] MohammadEftekhar opened #48 "r2 parametr for evry single transit"
Hi Nestor, I want to have r2 (rp/rs) for every transit, not whole of my lightcurve. is it possible.
thank You

[2021-02-22 16:41] redeaglekr opened #49 "ValueError: min() arg is an empty sequence"
Hi Nestor,

Thank you for making such a powerful and ready to use  tool for exoplanet detection.

I was trying to get a RV model comparison using Juliet. I have two instruments say Instument1 and Instrument2. I first evaluated a one planet model, using the codes given in your tutorial (https://juliet.readthedocs.io/en/latest/tutorials/rvfits.html). I changed the code accordingly. I am able to get

[2021-02-22 16:44] #49 closed

[2021-03-03 15:37] JonasKemmer opened #51 "Evaluation of global LC model not working"
Hey Nestor,

I encountered some bug in the evaluation of global LC models that I am not able to resolve myself.

The setting is the following:
I use only a global GP ("_lc") and different instrumental parameters (sigma_w, mflux, mdilution) for a set of photometry from different instruments to search for the rotation period in a light curve.
The fit seems to have worked (it converges and produces t

[2021-04-01 03:06] OliverQL opened #52 "multi-dimensional GP_regressors"
Hi everyone
Maybe I'm dumb but I just follow the online tutorial to learn and write my code.
I saw the GP_regressors_lc in the tutorials is  only the "times" of light curve.
I'm wondering if there is any way to make a multi-dimensional array for GP_regressors?
For example, including "times", "airmass" and other addtional parameters?

Thanks.

[2021-04-27 02:16] mileslucas opened #53 "First import fails"
First import of this package off a clean import fails due to not all dependencies being listed in https://github.com/nespinoza/juliet/blob/763f49c495b36d78e7bb1ae75976a5707287f265/setup.py#L21

From a clean docker container,
[code]
[code]
after manually installing `h5py` import works fine. It seems like adding h5py to the `install_requires` would fix the pip installation

[2021-04-27 13:18] nespinoza commented on #53
Hi @mileslucas,

 Thanks a lot for letting us know about this. It turns out `h5py` is not really a dependency of `juliet`, but of `radvel` (which `juliet` uses). Recently, `radvel` removed this from their list of dependencies (see: https://github.com/California-Planet-Search/radvel/commit/117d4e6946c73a9b739108da64a891732f9c669b) so perhaps this is causing the issue.

 Could you confirm that insta

[2021-04-27 13:20] nespinoza commented on #48
Hi @MohammadEftekhar,

 Sorry for getting so late to this. This is not allowed currently, but it's on my to-do's (it is useful for transit spectroscopy, for instance).

 Thanks!
Néstor

[2021-04-27 13:24] nespinoza commented on #52
Hi @OliverQL,

 Sorry for coming so late to this. You can actually do this! I have a notebook here that I intend to join to the documentation eventually in which I analyze a set of WASP-121b transits from HST and I do just this: https://github.com/nespinoza/w121-stis/blob/master/Analysis.ipynb --- jump to Section 3.2 to check the analysis out.

 Hope this helps!

 Best,
Néstor

[2021-04-27 13:24] #52 closed

[2021-04-27 13:25] nespinoza commented on #51
Hi @JonasKemmer,

 Sorry for coming so late to this. I do have an idea on what is going on, but don't have the time today to work on this. Will leave it on my plate to fix --- will come back to this later in the week to fix!

Néstor

[2021-04-27 13:26] nespinoza commented on #46
Hi @TianjunGan,

 This is currently allowed to be done in `juliet` (see https://juliet.readthedocs.io/en/latest/tutorials/gps.html).

N.

[2021-04-27 13:26] #46 closed

[2021-04-27 13:27] nespinoza commented on #45
Hi @MohammadEftekhar,

 Sorry for being so late to this. You can fix `q1` and `q2` --- which is the same :-).

 Thanks!
Néstor

[2021-04-27 13:27] #45 closed

[2021-04-27 13:27] nespinoza commented on #40
Hi @JonasKemmer,

 This is a good call. I'll try to implement this in a future release.

N.

[2021-04-27 13:29] nespinoza commented on #39
Hi @TakuNishiumi,

 Sorry for returning to this so late in the game. I typically recommend to normalize the regressors to avoid this. I'll close this issue as it's not really a `juliet` problem, but a numerical one with the GP calculations --- if you have more problems, feel free to open another issue!

N.

[2021-04-27 13:29] #39 closed

[2021-04-27 13:29] nespinoza commented on #38
Fixed in the latest `juliet` version!

[2021-04-27 13:29] #38 closed

[2021-04-27 13:30] nespinoza commented on #37
Hi @icweaver,

 Sorry for coming so late to this. I agree; `astropy` should handle these! Will update that on the next version.

N.

[2021-04-27 13:34] nespinoza commented on #15
Hi @nascarsdale,

 I recently ran this and all looks good now (at least in the docs). I'll close this issue for now, but if you keep finding this error, please open it up again or make a new issue!

 Thanks for bringing this up.

Néstor

[2021-04-27 13:34] #15 closed

[2021-04-27 14:58] icweaver commented on #37
No worries @nespinoza, you are on a roll squashing all of these open issues. Thanks for all of your work!

[2021-04-27 18:25] mileslucas commented on #53
thanks for looking into this, it does appear to be isolated to `radvel`. I'll close this issue and open one over there!

[2021-04-27 18:25] #53 closed

[2021-05-06 20:06] radicamc opened #54 "Raise chronological period exception more often"
Hi! Not an issue, but perhaps an enhancement to make fitting RV data for multi-planet systems more user-friendly. The docs specify that for multi-planet systems, the planetary periods must be in 'chronological order'. So lets say I have a two-planet system with planet b having a 10-day period and planet c a 30-day period. If I try to fit RV data for this system, fixing the periods to those 'litera

[2021-05-06 20:28] nespinoza commented on #54
Hi @radicamc,

 Thanks for opening this issue! I see your point, and I think you are right --- at least a warning should be raised indeed based on the support of the prior if it is disjoint with the others (including fixed periods).

Cheers,
Néstor

[2021-05-13 20:23] radicamc opened #55 "exp-sine-squared kernel hanging with light curve fits"
Hi Nestor,
I've been running through some tests, fitting photometry with a variety of different GP kernels, and I've noticed that the exp-sine-squared kernel consistently causes the nested sampling to hang. For example, if I replace the Matérn kernel in the tutorial with the exp-sine-sqaured, the nested sampling will hang. I should note that this only happens with photometry - I haven't run into a

[2021-05-13 20:43] radicamc commented on #55
I think actually this might just be a scalability issue. Everything seems to work if I restrict myself to much smaller subsets of data. Obviously I realize this just after opening the issue!

[2021-05-13 20:43] #55 closed

[2021-05-17 10:20] tronsgaard opened #56 "Model components don't add up"
Thanks for this great piece of software! I have noticed something that I would like to bring up here. When I do this:
[code]
the components don't always add up to the model, which I naïvely would expect.

After some digging, I understand what happens: The function selects a random set of samples, then it evaluates the model and the components for each sample, and finally it computes the median of

[2021-05-20 09:44] LucaNap opened #57 "Can't plot RV when GPregressors is involved"
Hello, I am having an issue trying to plot the fit of radial velocities only when GP are involved. While trying to replicate the example in Juliet's documentation:

` python
# Define minimum and maximum times to evaluate the model on:
min_time, max_time = np.min(dataset.times_rv['FEROS'])-30,\
                 np.max(dataset.times_rv['FEROS'])+30

# Create model times on which we will evaluate the

[2021-05-24 16:11] LucaNap commented on #57
I have found out that, with a GP model, everytime results.rv.evaluate() is called the "results" are updated and this makes it impossible to call the function again (if for example one is trying to plot points from two or more instruments, or if one is trying to make more than one plot using results.rv.evaluate).

[2021-05-25 17:20] radicamc opened #58 "Unable to fit photometry with exp sin squared GP kernel."
Hi Néstor,
I've been testing fitting different GP kernels to the HATS-46b photometry included in the tutorial, and I seem to be unable to run a fit using the exponential sin squared kernel. Generally, the fit will start as normal, and either fails after a few minutes with an error such as the following:
[code]
or it runs without converging, or simply freezes. I've used both ```dynesty``` and ```Mu

[2021-05-25 18:30] LucaNap commented on #57
Update: I've found a workaround, which relies on using

[code]

everytime results.rv.evaluate is called (now becomes results_1).

[2021-05-25 19:34] nespinoza commented on #58
Hi @radicamc,

 Thanks for bringing this up! This is weird, however. The fact that it runs alone and with the transit seems to suggest tome that something odd is happening with the fitting itself (e.g., the priors). Could you please share a MWE so I can try to reproduce this on my end?

 Thanks!
Néstor

[2021-05-25 19:50] radicamc commented on #58
Thanks for the quick response! Below is a MWE which produced the error I quoted above this morning:
[MWE_juliet.txt](https://github.com/nespinoza/juliet/files/6541967/MWE_juliet.txt)

[2021-05-25 20:01] nespinoza commented on #58
Hi @radicamc,

 I can't reproduce the error yet, but I do see the sampler (`dynesty`) going crazy. I believe your priors are just _too_ large, and hence why the sampler is having trouble converging. My suggestion is to narrow down the priors a bit. For instance, the GP sigma is way too large (1e-6 to 1e6) --- this goes way beyond meaningful values. That is in ppm --- I think going up to, say, 1e3

[2021-05-25 23:32] radicamc commented on #58
Yes that seems to have really helped! Hopefully, it'll yield the same results with the other datasets that I'm working with. Thanks for the help.

[2021-05-25 23:32] #58 closed

[2021-06-17 08:10] jordibp99 opened #60 "NaN errors for the Bayesian evidence with dynesty"
Hello.

When trying to find the best-fitting model for radial velocity data I have issues with the error of the Bayesian evidence for some models in wide volume priors. If I fit a linear trend or a linear trend + 1 planet to the data, everything works correctly. But, when I add an additional planet the Bayesian evidence is calculated but the error is NaN. If I considerably shrink the volume prior,

[2021-06-17 13:50] nespinoza commented on #60
Hi @jordibp99,

 Thanks for bringing this up! Could you share a [minimum working examples](https://stackoverflow.com/help/minimal-reproducible-example) for this problem so I can take a look at it? Doesn't have to be your data, it can be a mock dataset.

 Thanks in advance!

Néstor

[2021-06-17 14:06] MilevaE opened #61 "how to get the derived values ?"
After a fit is done, I would like to have access to the typical parameters which are derived from the fit, that is, a/R*, inclination, orbital semimajor axis, transit duration etc. I know they are all easy to compute, but I notice that in utils.py exits a function writepp(fout,posteriors,priors) where all these parameters are printed. However, I'm having problems to make it works.

Is it possible

[2021-06-17 15:19] jordibp99 commented on #60
My code is almost identical to the juliet tutorials:
`directory="/home/jordi/Documents/github/"
priors_linear_2p = {}
# Name of the parameters to be fit:
params_linear_2p = ['P_p1','t0_p1','P_p2','t0_p2','mu_HARPS','mu_HPF',\
          'K_p1', 'ecc_p1', 'omega_p1','K_p2', 'ecc_p2', 'omega_p2','sigma_w_HARPS',\
           'sigma_w_HPF','rv_intercept',   'rv_slope']

# Distributions:

dists_linear_2

[2021-06-22 15:11] ThomasGWilson opened #62 "Tying parameters together in fitting"
Hi Nestor,

Myself and @sergiohoyer have been thinking about using Juliet to fit and detrend CHEOPS photometry (combined with data from other instruments). Like most space missions, data from different visits may exhibit subtly different systematics and so may need correcting independently.

One way to do this in Juliet would be to denote each visit as a different "instrument", hence allowing diff

[2021-06-22 15:26] nespinoza commented on #62
Hi @ThomasGWilson,

 Glad you are using `juliet` for this; the answer is yes! You can link them by setting the instrument names joined through underscores, e.g., `q1_CHEOPS1_CHEOPS2_CHEOPS3`, etc.

 Let me know if this works for you.

 Happy fitting!
Néstor

[2021-06-22 15:54] ThomasGWilson commented on #62
Hi Néstor,

That's fantastic! Thanks for the fast response!

Cheers,

Tom

[2021-06-22 16:33] nespinoza commented on #62
Glad it was of help --- I'll make a note to document this :-).

[2021-06-22 16:33] #62 closed

[2021-06-23 14:48] sergiohoyer opened #63 "Error writepp function with eccentricity free and omega fixed"
Hola Nestor!
I got the following error when doing the fit using a free eccentricity but a fixed omega:

`~/anaconda3/envs/juliet/lib/python3.8/site-packages/juliet/utils.py in writepp(fout, posteriors, priors)
    582             elif 'ecc_'+planet in posteriors['posterior_samples']:
    583                 ecc = posteriors['posterior_samples']['ecc_'+planet]
--> 584                 omega = poster

[2021-07-25 14:56] LucaNap opened #64 "SEKernel (squared exponential) issue"
Hello,

I am using Juliet to model RV velocities with great success for the quasi-periodic model, but as soon as I try to use the squared exponential I get this error in return:

EDIT: Nvm, one of the GP parameters had a typo so the GP model was not recognized

[2021-07-25 15:24] #64 closed

[2021-08-09 16:03] JonasKemmer opened #65 "UltraNest suuuper slow"
Hey @nespinoza and @JohannesBuchner,

so far I was using `dynesty` for the sampling, however, I recently also started to play around with `UltraNest` because I like the MPI compatibility. However, compared to `dynesty` and `multinest`, it's suuuper slow and takes more than one hour for fits that are finished in less than 10 minutes by `dynesty` or `multinest`. Using the slice sampler, didn't help,

[2021-08-09 18:14] JohannesBuchner commented on #65
I take it that you mean "slow" to refer to the number of likelihood evaluations (algorithmic speed), not time spent in the UltraNest code?

UltraNest will not compete with the MultiNest algorithm's speed. Its implementation is more careful, less ad-hoc and less aggressive than the MultiNest algorithm, which can yield biased results (see Beaujean&Caldwell2012, Nelson+2021 for example). The goal of

[2021-08-10 09:48] JonasKemmer commented on #65
Hey,

thanks for the very quick answer! Actually, I see your point.  Using your suggested parameters, it now took about 45 minutes until the fit terminated and the debug.log states more than 3 million likelihood function evaluations. If I compare to dynamic dynesty (which also outputs the total number of likelihood calls), it's about 4 times more calls. However, the dynamic
 dynesty run finished i

[2021-08-10 10:17] JohannesBuchner commented on #65
If it takes 4x more likelihood evaluations, but is 10x slower in wall clock time, that's strange. Maybe run with a profiler (`python -m cProfile -o prof.out myscript.py myarguments`, `snakeviz prof.out`). Also check which version you are using and try the latest.

[2021-08-10 13:54] JonasKemmer commented on #65
Found the problem -- I am ashamed to admit this, but indeed, I was using an old version of ultranest. Now it works fine (a bit slower but on a reasonable timescale). Thanks a lot!

[2021-08-28 09:49] ghost opened #67 "Getting error when running the fitting command "dataset.fit()""
**Hello**

I'm sorry before if this problem isn't worth be noticed at all. I'm new to the code and tried to follow the code given in the [documentation](https://juliet.readthedocs.io/en/latest/user/quicktest.html). But when I tried to fit the example data with the `dataset.fit()` command, I encounter the following error:

`ValueError: not enough values to unpack (expected 2, got 1)`

It rises from

[2021-09-03 16:57] nespinoza commented on #67
Hi @ghost,

 Thanks for using `juliet`! I presume you are following the [lightcurve fitting tutorial](https://juliet.readthedocs.io/en/latest/tutorials/transitfits.html) --- correct? I just tried running it in a freshly installed version of `juliet`, and the `dataset.fit()` seems to run just fine at least on my system.

 Can you pass the _entire_ traceback you are getting?

 Thanks!
Néstor

[2021-09-12 09:04] MoneSylvia opened #68 "Fitting progress got stuck"
Hello!

So basically I have this transit data and some priors. I tried to run the fit with both `PyMultinest` and `dynesty` and it got stuck at some point (e.g. picture attached below; it got stuck at minute 14:58). At first, I thought it was my internet connection or my device's memory problem but I've tried to run the same fit on four different devices and it still got stuck.

![Screenshot from

[2021-09-13 07:45] dianadianadiana commented on #68
Hey Sylvia!

Yes that sounds frustrating. Taking a look at the problem and the priors, this is what I would try next:

(1) improve the priors a bit
`sigma_w_TESS` J(0.1,1000.0) —> J(1e-08,1e3) — just in case your TESS data doesn’t need to be that noisy — I typically have it from 1e-08 for my runs
`t0_p1` U(2458300.0,2458400.0) —> this prior range is 100d wide! So if your planet is on an orbit of 4

[2021-09-13 15:51] MoneSylvia commented on #68
It worked! For both alternatives. Thanks a lot! So my priors are indeed too wide and I should constrain them to a more specific value, especially the eccentricity I guess..

Best,
Slyvia

[2021-09-13 16:12] nespinoza commented on #68
Just to be clear on the eccentricity problem --- this is a `batman` issue really (the lightcurve model we use). The solver of the Kepler equation gets stuck at values too close to eccentricity equal to 1 with the standard setup of the base code.

[2021-09-13 16:22] MoneSylvia commented on #68
Ah I see. It really makes sense since I encounter this problem only for transit fitting. I don't have any problem at all when fitting radial velocity data since setting `sesinomega` and `secosomega` with uniform distribution U[-1,1] worked really fine for me.

[2021-09-14 03:12] #68 closed

[2021-09-20 16:11] LucaNap commented on #43
I am also having this issue. Any workaround?

[2021-10-26 16:05] MohammadEftekhar opened #69 "possibility to know evry single transit depth (each r_1 and r_2)"
Dear Nestor

Is it possible to reach every single transit depth, in order to every single r_1 and r_2?

thank you
Mohammad

[2021-10-27 09:50] GeoLek opened #70 "Problem loading my file from local path"
Dear Nestor,

Congratulations for this package. This is the first time I use it and it seems to be a powerhouse. I want to incorporate Gaussian Processes into the code and played around with the sample notebook but also with data set downloaded via URL successfully. Now  I want to load files from my local path but I have a problem loading them with Juliet. I follow the instructions here: https://j

[2021-12-02 16:01] Jayshil opened #71 "Problem with dynamic dynesty"
Hi Nestor,

There seems to be an issue with the `dynamic_dynesty` sampler in dataset.fit function, or maybe I am doing something wrong. Upon using `dynamic_dynesty` as a sampler, it shows the following error message.

`TypeError: DynamicNestedSampler() got an unexpected keyword argument 'nlive_init'`

In [this folder](https://github.com/Jayshil/hello-world/tree/master/dynamic_dynesty_bug) you will

[2022-01-09 18:21] hippke opened #74 "juliet is incompatible with latest numpy 1.20"
`np.int` has been deprecated with numpy 1.20. Proposed solution: replace with `int` in all places in juliet.

[2022-01-09 18:23] hippke commented on #74
Sorry, my mistake. It is only a deprecation warning.

[2022-01-09 18:23] #74 closed

[2022-02-22 09:10] Jayshil commented on #71
Hi @nespinoza,

So, this issue arises only when one uses the latest development version of `dynesty`, installed directly from the source code. However, I tried using it with the most stable version of `dynesty` from pip, and it is working now. So, the issue is solved for now, but maybe with new updates from `dynesty`, it will need to change `juliet` accordingly.

Hope this helps!

--Jayshil

[2022-03-16 15:41] nespinoza opened #77 "Need to document eclipse fitting"
Need to document recent PR made in #73

[2022-03-16 21:29] nespinoza opened #78 "Need to document additional samplers"
With added caveat for `zeus`: https://github.com/minaskar/zeus/issues/18

[2022-03-16 21:30] nespinoza commented on #69
Hi Mohammad,

 Not yet, but I've thought of implementing this though. Should be very similar (and easier than) the TTV implementation.

N.

[2022-03-16 21:30] nespinoza commented on #70
Closing this as I think @icweaver had this covered with his answer (thanks Ian!).

[2022-03-16 21:30] #70 closed

[2022-03-16 21:31] #67 closed

[2022-03-16 21:31] #65 closed

[2022-03-16 21:31] nespinoza commented on #65
Thanks for figuring this one out folks!

[2022-03-16 21:32] #3 closed

[2022-05-06 21:37] Jayshil commented on #71
Hi @nespinoza,

As it turns out, the issue is back again with the current latest stable version of `dynesty` (version 1.2.2). It was not appearing until `dynesty' v1.1. The quick solution to this would be to install v1.1 of `dynesty`, but it should be possible to make `juliet` compatible with the new release of `dynesty`.

--Jayshil

[2022-07-04 15:30] altuson opened #81 "Error: TTV Fits with More than One Planet"
Hi Nestor,

There is an error when trying to use juliet to fit transit times of more than one planet. The issue is in line 568 of fit.py. This line needs to be run per planet, but it is not in a for loop.

Thanks,
Amy

[2022-07-14 11:35] angelicaps opened #83 "Grazing transit issue"
I am analyzing some new detections with Juliet and one of them is in grazing transit. As a result the depth and impact parameter are correlated and they look kind of bimodal . I tried to use the mode instead of median or mean for the calculation but it doesn't really pick the peak because of the bin number. I tried to increase the bin number but from e.g 40 to 50 bins the results are very differen

[2022-07-22 06:54] nespinoza commented on #71
Hey @Jayshil ---sorry for the delay on this. This has been fixed in `dev` (https://github.com/nespinoza/juliet/commit/b6eeb26e897e3dea5c2f92d072ed809d7fc45b16). Was a simple change!

N.

[2022-07-22 08:22] Jayshil commented on #71
Hi @nespinoza, thanks for this! We can close this issue now!
--Jayshil

[2022-07-22 08:22] #71 closed

[2022-10-10 12:59] Jayshil opened #87 "Multiprocessing with `Pool` won't work on Mac with M1 chip"
Hi @nespinoza,

If I try to use `nthreads` option in `juliet.fit` for using multiprocessing with `dynesty`, I would get the following error:

[code]

At first, I thought it is the multiprocessing implemented in `dynesty` that is causing this issue. However, upon digging into the details I found that this has rather do with how multiprocessing is implemented in `juliet`: the culprit is [line 1723](

[2022-11-19 11:29] LucaNap opened #89 "Object does not support item assignment"
Hello,

I have recently upgraded my conda environment and this error started to pop up:

[code]

I have tried to uninstall and reinstall several times, but I can't get juliet to work.

[2022-11-19 14:56] nespinoza commented on #89
Does this happen on the dev version as well? Can you post a minimum working example that reproduces the error?

[2022-11-19 15:12] LucaNap commented on #89
Thank you for the quick response @nespinoza !
I am simply downloading a light curve with lightkurve, then importing juliet and setting a couple of minimal priors before running the fit. I have used the same code for a while and it always worked, for some reason it stopped with the last update of conda yesterday (consequence of installing seaborn). Something like this:

[code]

It really doesn't ma

[2022-11-19 16:06] LucaNap commented on #89
Packages used for the environment:

[code]

[2022-11-19 17:18] nespinoza commented on #89
Thanks for that! My first hunch is this is an issue with the newest version of `dynesty`. If you downgrade to `dynesty` 1.1, does it dissapear?

[2022-11-19 17:20] LucaNap commented on #89
No version of dynesty changes the output unfortunately.
However if I change the output folder to a new one (with no pre-existing posteriors.pkl), the error with sampler=dynesty changes as well to:

[code]

[2022-11-19 18:02] LucaNap commented on #89
Correction! Apparently forcing dynesty==1.2.2 works!

[2022-11-28 02:18] ASainio commented on #89
I am a new (win) user and I encountered same issue. I did pip uninstall dynesty then pip install -Iv dynesty==1.2.2 and got it running.